<div class="col-md-6">
  <h2 class="text-center">Find User</h2>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">Age</label>
      <input type="text" class="form-control" id="age" required [(ngModel)]="age" name="age" placeholder="Find user by age..">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let user of users">
    <h3>{{user.id}} - {{user.name}} {{user.age}}</h3>
  </li>
</ul>
</div>
